In [4]:
import pandas as pd

uboat_cleaned = pd.read_csv('uboats_cleaned.csv')

In [10]:
# only retain the uboat number and notable commanders
uboat_cleaned = uboat_cleaned[['Name', 'Notable Commanders']]

In [11]:
uboat_cleaned.head()

    Name                                 Notable Commanders
0  U-1\n                                     Klaus Ewerth\n
1  U-2\n  Hans Heidtmann,Heinrich Liebe,Helmut Rosenbaum...
2  U-3\n  Joachim Schepke,Otto von B端low,Hans-Hartwig Tr...
3  U-4\n                              Heinz-Otto Schultze\n
4  U-5\n                     Heinrich Lehmann-Willenbrock\n

In [14]:
cmd_dic = {} # commander: count
for boat in uboat_cleaned['Notable Commanders']:
    if type(boat) == str:
        cmds = boat.split(', ')
        for cmd in cmds:
            cmd = cmd.replace('\n', '')
            if cmd is '':
                continue
            if cmd in cmd_dic:
                cmd_dic[cmd] += 1
            else:
                cmd_dic[cmd] = 1

# convert to dataframe
cmd_df = pd.DataFrame(list(cmd_dic.items()), columns=['Commander', 'Count'])
cmd_df = cmd_df.sort_values(by='Count', ascending=False)
cmd_df.head()

<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\corma\AppData\Local\Temp\ipykernel_14236\2629908618.py:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if cmd is '':

              Commander  Count
3   Heinz-Otto Schultze      4
8         Wolfgang L端th      4
0          Klaus Ewerth      3
99       Herbert Werner      3
34    Heinrich Schonder      3

import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10, 6))
sns.barplot(x='Count', y='Commander', data=cmd_df[:10])
plt.title('Top 10 Most Frequent U-Boat Commanders')
plt.show()

In [16]:
len(cmd_df)

169

In [17]:
cmd_df.to_csv('uboat_commanders.csv', index=False)